<div class="card">
  <div class="card-body">
    <div class="card-title">Lista de Filmes</div>
    <div class="row">
      <div class="col-12">
        <label for="id">Código</label>
      </div>
      <div class="col-12">
        <input id="id" type="number"
               [disabled]="editar"
               [(ngModel)]="filme.id"/>
      </div>
      <div class="col-12">
        <label for="titulo">Título</label>
      </div>
      <div class="col-12">
        <input id="titulo" type="text"
               required minlength="3"
               [(ngModel)]="filme.titulo"
               #titulo="ngModel"/>
      </div>

      <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)"
           class="alert alert-danger">

        <div *ngIf="titulo.errors.required">
          Título é obrigatório.
        </div>
        <div *ngIf="titulo.errors.minlength">
          Título precisa ter mais que 3 caracteres.
        </div>
      </div>

      <div class="col-12">
        <label for="dataLancamento">Data de Lançamento</label>
      </div>
      <div class="col-12">
        <p-calendar id="dataLancamento" appendTo="body" [(ngModel)]="filme.dataLancamento" dateFormat="dd/mm/yy" dataType="string"></p-calendar>
<!--        <p-calendar id="dataLancamento" [(ngModel)]="filme.dataLancamento"></p-calendar>-->
      </div>
      <div class="col-12">
        <label for="genero">Gênero</label>
      </div>
      <div class="col-12">
        <input id="genero" type="text" [(ngModel)]="filme.genero"/>
      </div>
      <div class="col-12">
        <label for="atores">Atores</label>
      </div>
      <div class="col-12">
        <p-multiSelect id="atores" [options]="atorList" [(ngModel)]="filme.atorList" optionLabel="nome"></p-multiSelect>
      </div>
      <div class="col-12">
        <label for="estudio">Estúdio</label>
      </div>
      <div class="col-12">
        <p-dropdown id="estudio" [options]="estudioList" [(ngModel)]="filme.estudio" optionLabel="nome"></p-dropdown>
      </div>
      <div class="col-12">
        <label for="precoBilhete">Preço do Bilhete</label>
      </div>
      <div class="col-12">
        <input id="precoBilhete" type="text"
               required=""
               [(ngModel)]="filme.precoBilhete"
               #precoBilhete="ngModel"/>
      </div>

      <div *ngIf="precoBilhete.invalid && (precoBilhete.dirty || precoBilhete.touched)"
           class="alert alert-danger">

        <div *ngIf="precoBilhete.errors.required">
          Preço é obrigatório.
        </div>
      </div>
<!--      <div class="col-12">-->
<!--        <label for="inativo">Inativo</label>-->
<!--      </div>-->
<!--      <div class="col-12">-->
<!--        <input id="inativo" type="text" [(ngModel)]="filme.inativo"/>-->
<!--      </div>-->
<!--      <div class="col-12">-->
<!--        <label for="dub-leg">Dub / Leg</label>-->
<!--      </div>-->
<!--      <div class="col-12">-->
<!--        <input id="dub-leg" type="text" [(ngModel)]="filme.dublado"/>-->
<!--      </div>-->
      <div class="col-12">
        <button (click)="adicionar()">{{editar ? 'Editar' : 'Adicionar'}}</button>
      </div>
    </div>
  </div>
</div>



